<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
        
      </ion-button>
    </ion-buttons>

    <ion-title>Jupiter</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 5px;" >
    <ion-title  class="ion-text-center" style="color:darkgray;">Info</ion-title>
  </div>
</ion-content>

