<ion-header>
  
</ion-header>

<ion-content>
  <form >
    <h1 style="text-align: center;"> Sign Up </h1>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input type='text' required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input type='text' required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email ID</ion-label>
        <ion-input type='email' required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mobile Number</ion-label>
        <ion-input type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">User Name</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>
    </ion-list>

        <ion-button expand="block" shape='round'color="secondary">Signup</ion-button>
  </form>
</ion-content>