.marketinput{
    margin: 30px;
}
.inputlabel{
    float: left !important;
}
div form input{
    margin:5px 0px 10px 0px ;
    border-radius: 5px;;
    border: solid 1px lightgray;
    width: 100%;
    padding: 2%;
}
div form label{
    font-size: small;
    font-weight: bold;

}