<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="fares">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Fares</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="market">
      <ion-icon name="md-stats"></ion-icon>
      <ion-label>Market</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="md-chatboxes"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="ios-information-circle"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
